<main>
<br>
    <h1 class=" d-flex align-items-center justify-content-center seeText">About Me</h1>
    <p class=" d-flex align-items-center justify-content-center all">Hello, I am Carissa Cho. I am currently studying at Seneca College in the program Computer.
        Programming and Analysis (CPA)</p>
        <br>
        
    <h3 class=" d-flex align-items-center justify-content-center seeText">Languages I Know</h3>
    <div class="card card1">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <img class="images img-fluid" src="c.jpg" alt="">
                    </div>
                    <div class="col-1">
                        <img class="images img-fluid" src="c++.jpg" alt="">
                    </div>
                    <div class="col-1">
                        <img class="images img-fluid" src="html.jpg" alt="">
                    </div>
                    <div class="col-1">
                        <img class="images img-fluid" src="javascript.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <img class="images img-fluid" src="mongodb.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <img class="images img-fluid" src="Node.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <img class="images img-fluid" src="Oracle.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <img class="images img-fluid" src="react.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

<br>
    <h3 class="d-flex align-items-center justify-content-center title">Education</h3>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card card2">
                    <div class="card-body">
                        <h5 class="card-title">Computer Programming and Analysis (AdvDip)</h5>
                        <p class="card-text ">Seneca College <br>
                            2022- Present</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card2">
                    <div class="card-body">
                        <h5 class="card-title">Environmental Management (BES)</h5>
                        <p class="card-text">York University <br>
                            2016- 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>