<main>
<br>
  <h1 class=" d-flex align-items-center justify-content-center seeText">Contact Me</h1>
  <p class=" d-flex align-items-center justify-content-center seeText"> Hello! If you have any question, you would like
    to contact me or if theirs anything bugs that need to be fix for this page please contact me here. </p>
  <div class="container d-flex align-items-center justify-content-center">
    <form action="/information" method="POST">
      <div class="row">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required placeholder="John Doe">
      </div>
      <div class = "row">

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required placeholder="johndoe@email.com">
      </div>
      <div class = "row">
          <div class="col-1">
           <label for="message">Message:</label>
      <textarea id="message" name="message" rows="5" cols="50" required placeholder="Message"></textarea>
        </div>
      </div>

      <button type="button" class="btn btn-secondary" type="submit">Submit</button>
    </form>

  </div>
</main>