<main>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 text-center">
        <img src="me.jpg" class="rounded-circle me" alt="">
        <h1 class="title">Hello, I am Carissa Cho</h2>
        <p >I am passionate about Full-Stack Development!</p>
      </div>
    </div>
    </div>
</main>